{
    "log": {
        "loglevel": "none"
    },
  "dns": {
    "servers": [
    "1.1.1.1",
      {
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:netflix" 
        ]
      },
      {
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:google",
          "geosite:youtube"
        ]
      },
{
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:hulu", 
"geosite:hbo" 
        ]
      }
    ]
  },
    "inbounds": [
       {
      "listen": "127.0.0.1",
      "port": 18888,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "",
            "alterId": 0,
            "email": "11111@gmail.com"
          }
        ],
        "disableInsecureEncryption": false
      },
      "streamSettings": {
        "network": "h2",
       "security": "none",
          "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "/etc/v2ray/v2ray.crt", 
                            "keyFile": "/etc/v2ray/v2ray.key"
                        }
                    ]
                },
        "httpSettings": {
          "path": "/SeuW56Es",
           "host": [
            "dasdczxyrtgm345xa2"
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls"
        ]
      }
    },
  {
       "listen": "127.0.0.1",
      "port": 28888,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "",
            "alterId": 0,
            "email": "1111111@gmail.com"
          }
        ],
        "disableInsecureEncryption": false
      },
      "streamSettings": {
        "network": "ws",
        "security": "none",
          "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "/etc/v2ray/v2ray.crt", 
                            "keyFile": "/etc/v2ray/v2ray.key"
                        }
                    ]
                },
        "wsSettings": {
          "path": "/SeuW56Es"
        }
      }
    },
    {
 "tag": "nf",
 "protocol": "shadowsocks",
 "address": "0.0.0.0",
            "port": 55555,
"settings": {

            "method": "chacha20-ietf-poly1305",
            "password": "",
"network": "tcp,udp",
            "level": 0

}
}
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "settings": {
          "domainStrategy": "UseIPv4"
            }
        },
 {
"tag": "nf",
 "protocol": "freedom",
       "settings": {
          "domainStrategy": "UseIPv6"
            }
    }
    ],
"routing": {
    "rules": [
         {
"type": "field",
"domain": [
"geositenetflix"
],
"outboundTag": "nf"
}
    ],
    "strategy": "rules"
  }
}
