{
    "log": {
        "loglevel": "none"
    },
  "dns": {
    "servers": [
    "1.1.1.1",
      {
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:netflix" 
        ]
      },
      {
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:google",
          "geosite:youtube"
        ]
      },
{
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:hulu", 
"geosite:hbo" 
        ]
      }
    ]
  },
    "inbounds": [
       {
      "listen": "0.0.0.0",
      "port": 443,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "",
            "alterId": 0,
            "email": "11111@gmail.com"
          }
        ],
          "fallbacks": [
                     {
                        "dest": 8989
                  }
                ],
        "disableInsecureEncryption": true
      },
      "streamSettings": {
        "network": "tcp",
       "security": "tls",
          "tlsSettings": {
          "serverName": "dasdczxyrtgm345xa2",
          "disableSystemRoot": true,
                    "certificates": [
                        {
                            "certificateFile": "/etc/v2ray/v2ray.crt", 
                            "keyFile": "/etc/v2ray/v2ray.key"
                        }
                    ]
                }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls"
        ]
      }
    },
       {
      "listen": "0.0.0.0",
      "port": 2096,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "",
            "alterId": 0,
            "email": "11111@gmail.com"
          }
        ],
          "fallbacks": [
                     {
                        "dest": 8989
                  }
                ],
        "disableInsecureEncryption": true
      },
      "streamSettings": {
        "network": "tcp",
       "security": "tls",
          "tlsSettings": {
          "serverName": "dasdczxyrtgm345xa2",
          "disableSystemRoot": true,
                    "certificates": [
                        {
                            "certificateFile": "/etc/v2ray/v2ray.crt", 
                            "keyFile": "/etc/v2ray/v2ray.key"
                        }
                    ]
                }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls"
        ]
      }
    },
    {
       "listen": "127.0.0.1",
      "port": 28888,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "",
            "alterId": 0,
            "email": "1111111@gmail.com"
          }
        ],
        "disableInsecureEncryption": false
      },
      "streamSettings": {
        "network": "ws",
        "security": "none",
          "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "/etc/v2ray/v2ray.crt", 
                            "keyFile": "/etc/v2ray/v2ray.key"
                        }
                    ]
                },
        "wsSettings": {
          "path": "/speedtest",
             "headers": {
        "Host": "dasdczxyrtgm345xa2"
    }
        }
      }
    },
    {
 "tag": "nf",
 "protocol": "shadowsocks",
 "address": "0.0.0.0",
            "port": 55555,
"settings": {

            "method": "chacha20-ietf-poly1305",
            "password": "",
"network": "tcp,udp",
            "level": 0

}
}
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "settings": {
          "domainStrategy": "UseIPv4"
            }
        },
 {
"tag": "nf",
 "protocol": "freedom",
       "settings": {
          "domainStrategy": "UseIP"
            }
    }
    ],
"routing": {
    "rules": [
         {
"type": "field",
"domain": [
"geosite:google"
],
"outboundTag": "nf"
}
    ],
    "strategy": "rules"
  }
}
