{
    "log": {
        "loglevel": "none"
    },
  "dns": {
    "servers": [
      {
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:netflix" 
        ]
      },
{
        "address": "1.1.1.1", // 购买的 DNS 解锁提供的 IP
        "port": 53,
        "domains": [
          "geosite:hulu", 
"geosite:hbo" 
        ]
      },
"1.1.1.1"
    ]
  },
    "inbounds": [
        {
            "port": 443,
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "",
                        "flow": "xtls-rprx-direct",
                        "level": 0,
                        "email": "love@v2fly.org"
                    }
                ],
                "decryption": "none",
                "fallbacks": [
                     {
                        "dest": 8989
                  }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "xtls",
                "xtlsSettings": {
                    "alpn": [
                        "http/1.1"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "/etc/xray/v2ray.crt", 
                            "keyFile": "/etc/xray/v2ray.key"
                        }
                    ]
                }
            }
        },
{
            "port": 2096,
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "",
                        "flow": "xtls-rprx-direct",
                        "level": 0,
                        "email": "love@v2fly.org"
                    }
                ],
                "decryption": "none",
                "fallbacks": [
                     {
                        "dest": 8989
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "xtls",
                "xtlsSettings": {
                    "alpn": [
                        "http/1.1"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "/etc/xray/v2ray.crt", 
                            "keyFile": "/etc/xray/v2ray.key"
                        }
                    ]
                }
            }
        },
        {
 "port": 3478,
            "listen": "0.0.0.0",
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
          "id":"",
                         "alterId": 0,
                        "email": "love@v2fly.org"
                    }
                ]
            },
            "streamSettings": {
                "network": "quic",
                "quicSettings": {
                      "security": "aes-128-gcm",
  "key": "jI57ZXC9fmTLg4sN",
  "header": {
    "type": "none"
  }
                }
            }

},
        {
            "port": 1314,
            "listen": "127.0.0.1",
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "",
                        "level": 0,
                        "email": "love@v2fly.org"
                    }
                ],
                 "fallbacks": [
                    {
                        "dest": 8989
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "ws",
                "security": "none",
                "wsSettings": {
                    "acceptProxyProtocol": false, 
                    "path": "/speedtest" 
                }
            }
        },
    {
 "tag": "nf",
 "protocol": "shadowsocks",
 "address": "0.0.0.0",
            "port": 55555,
"settings": {

            "method": "chacha20-ietf-poly1305",
            "password": "",
"network": "tcp,udp",
            "level": 0

}
}
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "settings": {
          "domainStrategy": "UseIPv4"
            }
        },
 {
"tag": "nf",
 "protocol": "freedom",
       "settings": {
          "domainStrategy": "UseIPv6"
            }
    }
    ],
"routing": {
    "rules": [
         {
"type": "field",
"domain": [
"geositenetflix"
],
"outboundTag": "nf"
}
    ],
    "strategy": "rules"
  }
}
