{
    "log": {
        "loglevel": "none"
    },
  "dns": {
    "servers": [
    "1.1.1.1",
    "8.8.8.8",
      {
        "address": "1.1.1.1",
        "port": 53,
        "domains": [
          "geosite:netflix",
          "geosite:bilibili"
        ]
      },
      {
        "address": "1.1.1.1",
        "port": 53,
        "domains": [
          "geosite:disney" 
        ]
      },
      {
        "address": "1.1.1.1",
        "port": 53,
        "domains": [
          "geosite:google",
          "geosite:youtube"
        ]
      },
{
        "address": "1.1.1.1",
        "port": 53,
        "domains": [
          "geosite:hulu", 
"geosite:hbo"
        ]
      }
    ]
  },
    "inbounds": [
         {
            "protocol": "vmess",
            "listen": "127.0.0.1",
            "port": 40001,
            "settings": {
                "clients": [
                    {
                        "id": "",
                     "alterId": 0,
                    "security": "auto"
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp"
            }
        },
    {
         "listen": "0.0.0.0",
            "port": 2096,
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "",
                      "alterId": 0,
                    "security": "auto"
                    }
                ]
            },
      "streamSettings": {
        "network": "ws",
        "security": "tls",
          "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "/etc/v2ray/v2ray.crt", 
                            "keyFile": "/etc/v2ray/v2ray.key"
                        }
                    ]
                },
        "wsSettings": {
          "path": "/speedtest",
             "headers": {
             "Host": "dasdczxyrtgm345xa2"
    }
        }
      }
    },
    {
 "tag": "nf",
 "protocol": "shadowsocks",
 "address": "0.0.0.0",
            "port": 55555,
"settings": {

            "method": "chacha20-ietf-poly1305",
            "password": "",
"network": "tcp,udp",
            "level": 0

}
}
    ],
    "outbounds": [
        {
            "protocol": "freedom",
         "settings":{
         "domainStrategy": "UseIPv4"
        }},
 {
"tag": "google",
 "protocol": "freedom",
       "settings": {
          "domainStrategy": "UseIPv4"
            }
    },
{
"tag": "stream",
"protocol": "freedom",
"settings":{
"domainStrategy": "UseIPv4",
"servers":[{
"address":"1.1.1.1",
"port":55555,
"method":"chacha20-ietf-poly1305",
"password":"1",
"level":null
}]
}
},
{
"protocol": "blackhole",
"tag": "block"
}
    ],
"routing": {
    "rules": [
         {
"type": "field",
"domain": [
"geosite:google"
],
"outboundTag": "google"
},
         {
"type": "field",
"domain": [
"geosite:netflix",
"geosite:hulu", 
"geosite:hbo",
"geosite:bilibili",
"geosite:disney"
],
"outboundTag": "stream"
},
        {
                "type": "field",
                "domain": [
                    "geosite:category-ads-all"
                ],
                "outboundTag": "block"
            }
    ],
    "strategy": "rules"
  }
}
